:root {
    --main-color: #212121;
    --second-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --main-title-color: #FFFFFF;
    --transition-time: 250ms;
    --cubic-func: cubic-bezier(0.4, 0, 0.2, 1);

    --item: 3;
    --space: 30px
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul{
    margin: 0;
    padding-left: 0;
    padding: 0;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

body{
    font-family: 'Roboto', sans-serif;
    
    color: var(--main-color);
    background-color: var(--white-color);
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
    display: block;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    padding: 0;

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0; 
    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* ----------Header----------*/

.header{
    border-bottom: 1px solid #ECECEC;
}

.head-logo, 
.foot-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.02em;

    color: var(--accent-color);
}
.header-logo{
    color: #000000;
}

.header-nav-item{
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--main-color);
    position: relative;

    transition: color var(--transition-time) var(--cubic-func);
}

.header-nav-item:hover,
.header-nav-item:focus {
    color: var(--accent-color);
}

.header-item:not(:last-child){
    margin-right: 50px;
}

.header-list{
    display: flex;
    margin-left: auto;
}

.header-nav{
    display: flex;
    align-items: center;
}

.head-logo{
    margin-right: 93px;
}


.header-cont-item:not(:last-child){
    margin-right: 50px;
}

.header .container{
    display: flex;
    align-items: center;
}

.header-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--second-color);

    transition: color var(--transition-time) var(--cubic-func);
}

.header-icon{
    margin-right: 10px;

    fill: currentColor;
}

.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}

.current{
    color: var(--accent-color);
}

.current::after{
    content: "";
    position: absolute;
    display: block;

    bottom: -1px;
    width: 100%;
    height: 4px;
    
    background-color: var(--accent-color);
    border-radius: 2px;
}

/* ---------Footer----------*/

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--white-color);
}

.address{
    margin-top: 20px;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    color: var(--white-color);
    
}

.footer-contact{
    font-size: 14px;
    line-height: 1.71;

    color: rgba(255, 255, 255, 0.6);

    transition: color var(--transition-time) var(--cubic-func);
}
.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}

.footer-list{
    margin-top: 9px;
    width: 231px;
}

.footer-item:not(:first-child){
    margin-top: 9px;
}

.footer-soc-title{
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--white-color);
}

.footer .container{
    display: flex;
    align-items: baseline;
}

.footer-soc{
    margin-left: 70px;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
}

.footer-soc-item {
    width: 44px;
    height: 44px;
}

.footer-soc-item:not(:last-child) {
    margin-right: 10px;
}

.footer-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-color);

    transition: background-color var(--transition-time) var(--cubic-func);
}

.footer-soc-icon {
    fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
}


.footer-email-box{
    margin-left: auto;

    width: 570px;
}

.footer-email-box h2{
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--white-color);
}

.footer-email-wrap{
    display: flex;
}

.footer-email-wrap input{
    display: block;
    margin-right: 12px;
    padding-left: 16px;

    width: 100%;
    height: 50px;

    transition: border-color var(--transition-time) var(--cubic-func);

    color: var(--white-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
}

.footer-email-wrap input:focus{
    border-color: var(--accent-color);
}

.footer-email-svg{
    position: relative;
}

.footer-email-icon{
    position: absolute;
    top: 13px;
    right: 28px;
}

.footer-email-wrap button{
    margin-left: auto;
    padding: 10px 62px 10px 29px;

    min-width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    transition: background-color var(--transition-time) var(--cubic-func);

    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.footer-email-wrap button:hover, 
.footer-email-wrap button:focus{
    background-color: #188CE8;
}



/* ----------Hero----------*/

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;

    max-width: 1600px;
    min-height: 600px;

    background-color: #2F303A;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}

.hero-title{
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
    max-width: 696px;
    
}

.hero-button{
    display: block;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    min-width: 200px;
    min-height: 50px;
    
    transition: box-shadow var(--transition-time) var(--cubic-func),
    background-color var(--transition-time) var(--cubic-func);
}

.hero-button:hover,
.hero-button:focus{
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/* ----------Benefits----------- */

.benefits{
    padding-bottom: 47px;
}

.behefits-list{
    display: flex;
    margin: calc(-1 * var(--space) / 2);
}

.benefits-item{
    --item: 4;
    flex-basis: calc(100% / var(--item) - var(--space));
    margin: calc(var(--space) / 2);
}

.benefits-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    width: 100%;
    min-height: 120px;
    
    background-color: #F5F4FA;
    border-radius: 4px;
}

.benefits-item-title{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-color);
    
}

.benefits-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--second-color);
    width: 270px;
}


/* ----------Work----------- */

.work{
    padding-top: 47px;
}

.work-list{
    display: flex;
    margin: calc(-1 * var(--space) / 2);
}

.work-item{
    flex-basis: calc(100% / var(--item) - var(--space));
    margin: calc(var(--space) / 2);

    padding-right: 0;

    position: relative;
}

.work-description{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

.work-description-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--white-color);
}

.section-title{
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-color);
    
}

/* ----------Team----------- */

.team{
    background-color: #F5F4FA;
}

.team-list{
    display: flex;
    margin: calc(-1 * var(--space) / 2);
}

.team-item{
    --item: 4;
    flex-basis: calc(100% / var(--item) - var(--space));
    margin: calc(var(--space) / 2);

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--main-color);
    
}

.team-info {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.team-text{
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--second-color);
}

.team-soc-list{
    display: flex;
    justify-content: center;
}

.team-soc-item{
    width: 44px;
    height: 44px;
}

.team-soc-item:not(:last-child){
    margin-right: 10px;
}

.team-soc-link{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    border-radius: 50%;
    color: #AFB1B8;

    transition: color var(--transition-time) var(--cubic-func),
    background-color var(--transition-time) var(--cubic-func);
}

.team-soc-icon{
    fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus{
    background-color: var(--accent-color);
    color: var(--white-color)
}

/* ----------Clients------------ */

.clients-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item:not(:last-child){
    margin-right: 30px;
}

.client-item{
    min-width: 170px;
    height: 92px;
}

.client-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;

    transition: color var(--transition-time) var(--cubic-func),
    border var(--transition-time) var(--cubic-func);
}

.client-icon{
    fill: currentColor;
}

.client-link:hover,
.client-link:focus{
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

/* ----------Portfolio----------- */

.portfolio{
    padding-top: 97px;
    padding-bottom: 91px;
}

.portfolio-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-button{
    padding: 6px 22px 6px 22px;

    background-color: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    color: var(--main-color);
    border: none;
    
    transition: box-shadow var(--transition-time) var(--cubic-func),
     background-color var(--transition-time) var(--cubic-func),
     color var(--transition-time) var(--cubic-func);
}

.portfolio-button-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-button:hover, 
.portfolio-button:focus{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    color: var(--white-color);
    cursor: pointer;
}

.portfolio-current{
    background-color: var(--accent-color);
    color: var(--white-color);
}

.portfolio-info{
    padding: 20px 24px;

    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--space) / 2);
}

.portfolio-item{
    flex-basis: calc(100% / var(--item) - var(--space));
    margin: calc(var(--space) / 2);
}

.portfolio-link{
    transition: box-shadow var(--transition-time) var(--cubic-func);
}

.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .project-description,
.portfolio-link:focus .project-description {
    transform: translateY(0);
}

.project-box{
    position: relative;
    overflow: hidden;
}

.project-description{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;

    padding-left: 24px;

    height: 100%;
    width: 100%;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    
    transform: translateY(101%);
    transition: transform var(--transition-time) var(--cubic-func);

    color: var(--white-color);
    background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    color: var(--main-color);
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--second-color);
}

/* -----------Backdrop----------- */
.backdrop{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: opacity var(--transition-time) linear, visibility var(--transition-time) linear;

    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(3);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-time) linear;
    
    width: 528px;
    min-height: 581px;

    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px
}

.modal-close-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    padding: 0;

    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    transition: color var(--transition-time) var(--cubic-func);

    color: #000000;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);

    cursor: pointer;
}

.modal-close-btn svg{
    fill: currentColor;
}

.modal-close-btn:hover, 
.modal-close-btn:focus{
    color: var(--accent-color);
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title{
    margin-bottom: 12px;

    font-weight: 700;
     font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.modal-field{
    margin-bottom: 10px;
}

.modal-label{
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    
    color: var(--second-color);
}

.input-wrap{
    position: relative;
}

.modal-input{
    padding-left: 42px;

    width: 100%;
    height: 40px;

    transition: border-color var(--transition-time) var(--cubic-func);

    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
}

.modal-input:focus{
    border-color: var(--accent-color);
}

.modal-input:focus + .input-icon{
    fill: var(--accent-color);
}

.input-icon{
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 12px;

    transition: fill var(--transition-time) var(--cubic-func);
    transform: translateY(-50%);

    fill: var(--main-color);
}

.modal-field-label{
    margin-bottom: 20px;
}

.modal-area{
    padding: 12px 16px;

    width: 100%;
    height: 120px;

    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    resize: none;
}

.modal-area::placeholder{
    transition: border-color var(--transition-time) var(--cubic-func);

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.modal-area:focus{
    border-color: var(--accent-color);
}

.modal-checkbox-wrap{
    margin-bottom: 30px;
}

.input-check:checked + .check-text span{
    border: none;
    background-color: var(--accent-color);
}

.input-check:checked + .check-text svg {
    fill: var(--white-color);
}

.check-text{
    display: flex;
    align-items: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--second-color);
}

.check-text span{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 8px;
    margin-left: 12px;
    
    width: 16px;
    height: 15px;

    transition: backgroung-color var(--transition-time) var(--cubic-func);
    
    border: 2px solid #000;
    border-radius: 2px
}

.check-icon{
    fill: transparent;
    transition: fill var(--transition-time) var(--cubic-func);
}

.check-text a{
    color: var(--accent-color);
    text-decoration-line: underline;
}

.modal-btn{
    display: block;
    margin: 0 auto;

    min-width: 200px;
    min-height: 50px;

    transition: background-color var(--transition-time) var(--cubic-func);

    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;

    cursor: pointer;
}
.modal-btn:hover, 
.modal-btn:focus{
    background-color: #188CE8;
}